!==============================================================================
!! color theme shared by xterm.vt100 
!==============================================================================
! 

!black
*color0 : black
*color8 : black
!red
*color1 : red
*color9 : #FA8072
!green
*color2 : #51f152
*color10: #51f152
!yellow
*color3 : yellow
*color11: yellow
!blue
*color4 : #5153f7
*color12: #5153f7
!magenta
*color5 : #9932CC
*color13: #DA70D6
!cyan
*color6 : #87CEEB
*color14: #B0E0E6
!white
*color7 : white
*color15: white


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! xterm configuration

xterm*background: #000000
xterm*foreground: #FFFFFF

! Application Resources
xterm.locale: true
xterm.utmpInhibit: true

! VT100 Widget Resources
xterm*allowTitleOps:  false
xterm*altSendsEscape: true
xterm*bellIsUrgent: true
xterm*borderLess: true

! allow selecting email/url by double click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
xterm*colorBD: wheat
xterm*colorBDMode: true
xterm*colorUL: green
xterm*colorULMode: false
xterm*cursorBlink: false
xterm*cursorColor: green
xterm*cursorUnderLine: false
xterm*eightBitInput: false

XTerm.vt100.faceName: Mono:size=10
XTerm.vt100.faceNameDoublesize: Source Han Sans TC Normal:size=10
xterm*fastScroll: true
XTerm*jumpScroll: true
XTerm*multiScroll: true
xterm*printAttributes: 2
xterm*saveLines: 10000
xterm*scrollBar: false
xterm*veryBoldColors: 4
xterm*xftAntialias: true
xterm.vt100.metaSendsEscape: true

xterm.vt100.translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\

xterm*vt100.translations: #override \n\
	Ctrl <Key>j: smaller-vt-font() \n\
	Ctrl <Key>k: larger-vt-font()
	
! Only select text
xterm*highlightSelection: true

! Remove trailing spaces
xterm*trimSelection: true

! xterm configuration

URxvt.preeditType: Root
URxvt.font: xft:Mono:size=10
URxvt.searchable-scrollback: false
URxvt.iso14755: false

URxvt.perl-ext: default,keyboard-select,url-select,clipboard,selection-to-clipboard,resize-font
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.launcher: /usr/bin/firefox
URvxt.url-select.button:    1
URxvt.url-select.underline: true
URxvt.keysym.Control-Shift-C:   perl:clipboard:copy
URxvt.keysym.Control-Shift-V:   perl:clipboard:paste
URxvt.resize-font.smaller:      C-j
URxvt.resize-font.bigger:       C-k

URxvt.cutchars: `"()'*<>[]{|}"

URxvt.colorBD:			yellow
URxvt.colorUL:			green

URxvt.scrollBar: false

URxvt.saveLines: 1024
URxvt.depth: 32
URxvt.background: black
URxvt.foreground: white
URxvt.cursorBlink: false
URxvt.cursorColor: green
URxvt.iso14755_52: false
URxvt.urgentOnBell: true

x11-ssh-askpass*background:             #000000
x11-ssh-askpass*foreground:             #ffffff
x11-ssh-askpass.Button*background:      #000000
x11-ssh-askpass.Indicator*foreground:   #ff9900
x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1

! resource names can be retrieved from ~/.xscreensaver
xscreensaver.timeout: 3
xscreensaver.lock: true
xscreensaver.lockTimeout: 5
xscreensaver.mode: blank
